@font-face {
    font-family: 'cv';
    src: url('../fonts/cv.eot?326501');
    src: url('../fonts/cv.eot?326501#iefix') format('embedded-opentype'),
    url('../fonts/cv.woff2?326501') format('woff2'),
    url('../fonts/cv.woff?326501') format('woff'),
    url('../fonts/cv.ttf?326501') format('truetype'),
    url('../fonts/cv.svg?326501#cv') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'cv';
    src: url('../font/cv.svg?326501#cv') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "cv";
    font-style: normal;
    font-weight: normal;
    speak: never;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-skype_24dp:before { content: '\e800'; } /* '' */
.icon-telegram:before { content: '\e801'; } /* '' */
.icon-whatsapp:before { content: '\e802'; } /* '' */
.icon-home_black_24dp:before { content: '\e803'; } /* '' */
.icon-linkedin_24dp:before { content: '\e804'; } /* '' */
.icon-favorite_border_black_24dp:before { content: '\e805'; } /* '' */
.icon-event_black_24dp:before { content: '\e806'; } /* '' */
.icon-language_black_24dp:before { content: '\e807'; } /* '' */
.icon-room_black_24dp:before { content: '\e808'; } /* '' */
.icon-date_range_black_24dp:before { content: '\e809'; } /* '' */
.icon-phone_enabled_black_24dp:before { content: '\e80a'; } /* '' */
.icon-alternate_email_black_24dp:before { content: '\e80b'; } /* '' */
.icon-settings_black_24dp:before { content: '\e80c'; } /* '' */
.icon-edit_black_24dp:before { content: '\e80d'; } /* '' */
.icon-business_black_24dp:before { content: '\e80e'; } /* '' */
.icon-school_black_24dp:before { content: '\e80f'; } /* '' */
.icon-kayaking_black_24dp:before { content: '\e810'; } /* '' */
.icon-cog:before { content: '\e811'; } /* '' */
.icon-cog-alt:before { content: '\e812'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */