body {
    color: #050505;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10px;
}

i.fas {
    font-style: normal;
}

h1 {
    color: #050505;
    margin: 0;
    padding: 0;
}

h2 {
    padding: 0;
    margin: 0 0 1em 0;
    color: #226722;
}

h3 {
    border-bottom: 1px solid #135ABC;
    color: #226722;
}

.main {
    width: 85mm;
}

.links {
    font-size: 8px;
    color: #226722;
    border-collapse: collapse;
}

.links td {
    padding: 1px;
}

h3.experience {
    margin-top:0.5cm;
}

h3.about {
    margin-top:1.2cm;
}

h3.other-skills {
    margin-top: 2cm;
}

.experience {
    position: relative
}

.experience h4 {
    padding: 0.5cm 0 0 0;
    margin: 0;
}

.experience h5 {
    margin: 0.1cm 0 0.3cm;
    padding: 0;
    color: #226722;
    text-transform: uppercase;
}

.experience ul {
    padding: 0;
    margin: 0;
    list-style: square;
}

.experience ul li {
    padding: 0 0 2px 0;
    margin: 2px 0 0 15px;
}

.logo {
    position: absolute;
    right: 0;
    top: 0.6cm;
    max-height: 0.5cm;
    max-width: 0.9cm;
}

.time_location {
    position: relative;
    font-size: 8px;
    margin-bottom: 0.2cm;
}

.location {
    position: absolute;
    left: 4.5cm;
    top: 0;
}

.languages {
    position: relative;
}

.languages span {
    position: absolute;
    right: 0;
}

ul.languages {
    list-style: square;
    padding: 0;
    margin: 0;
}

ul.languages li {
    padding: 0 0 2px 0;
    margin: 2px 0 0 15px;
}

/**/

.skills {
    position: relative;
}

.skills span {
    position: absolute;
    right: 0;
}

ul.skills {
    list-style: square;
    padding: 0;
    margin: 0;
}

ul.skills li {
    padding: 0;
    margin: 2px 0 0 15px;
}

ul.interests {
    list-style: square;
    padding: 0;
    margin: 0;
}

ul.interests li {
    padding: 0;
    margin: 2px 0 0 15px;
}

div.qrcode {
    text-align: left;
}

img.qrcode {
    width: 2cm;
    float: right;
}

/**/

div.otherSkills {
    line-height: 0.55cm;
}

div.otherSkills span {
    border: 1px solid silver;
    padding: 1px;
}

.education {
    position: relative;
}

.education .logo {
    top: 0;
}

.sidesection {
    width: 45mm;
    position: absolute;
    right: 0;
    top: 2cm;
}

header {
    color: gray;
}

footer {
    color: gray;
}

footer .left {
    color: gray;
}

footer .right {
    position: absolute;
    right:0;
    top:0.2cm;
}

.portrait {
    position: absolute;
    right:0;
    top:0;
}

.portrait img {
    width: 20mm;
    border-radius: 10%;
}

.portrait .mylocation {
    text-align: right;
    padding: 4px 0 0 0;
}

.fa-phone1:before {
    content: "\f095";
}