<!DOCTYPE html>
<html>
<head>
    <meta charest="utf-8" >
    <title>CV</title>
    <link rel="stylesheet" href="{{ cssEncoded }}" >
    <link rel="stylesheet" href="{{ cssFonts }}" >
</head>
<body>
<h1>{{name}}</h1>
<h2>{{title}}</h2>
<div class="portrait">
    <img src="{{ portraitUrl }}" />
    <div class="mylocation"><i class="icon-room_black_24dp"></i> {{location}}</div>
</div>
<div class="main">

<table class="links" width="100%">
    <tr>
        <td class="link-email"><i class="icon-alternate_email_black_24dp"></i> {{links.email}}</td>
        <td class="link-phone1"><i class="icon-phone_enabled_black_24dp"></i> {{links.phone}} <i class="icon-whatsapp"></i> <i class="icon-telegram"></i></td>
    </tr>
    <tr>
        <td class="link-skype"><i class="icon-skype_24dp"></i> {{links.skype}}</td>
        <td class="link-location"><i class="icon-home_black_24dp"></i> {{links.homepage}}</td>
    </tr>
    <tr>
        <td class="link-github"><i class="icon-github-circled"></i> {{links.github}}</td>
        <td class="link-lineking"><i class="icon-linkedin_24dp"></i> {{links.linkedin}}</td>
    </tr>
</table>




<h3 class="experience"><i class="icon-business_black_24dp"></i> Work experience</h3>
    {{#each experience}}
    <div class="experience">
        <img class="logo" src="{{this.logo}}">
        <h4>{{this.position}}</h4>
        <h5>{{this.company}}</h5>
        <div class="time_location">
            <div class="time"><i class="icon-date_range_black_24dp"></i> {{this.time}}</div>
            <div class="location"><i class="icon-room_black_24dp"></i> {{this.location}}</div>
        </div>
        <ul>
            {{#each this.projects}}
            <li>{{this.[0]}} <i>{{this.[1]}}</i></li>
            {{/each}}
        </ul>
    </div>
    {{/each}}
    <h3><i class="icon-school_black_24dp"></i> Education</h3>
    {{#each education}}
    <div class="education">
        <img class="logo" src="{{this.logo}}">
        <div class="time_location">
            <div class="time"><i class="icon-date_range_black_24dp"></i> {{this.time}}</div>
            <div class="location"><i class="icon-room_black_24dp"></i> {{this.location}}</div>
        </div>
        <p>{{this.name}} <i>{{this.speciality}}</i></p>
    </div>
    {{/each}}

    <!--
    <h3><i class="icon-school_black_24dp"></i> Projects</h3>
    {{#each projects}}
    <div class="projects">
        <h3>{{this.name}}</h3>
        <p>{{this.description}}</p>
    </div>
    {{/each}} -->
</div>
<div class="sidesection">
  <h3 class="about"><i class="icon-edit_black_24dp"></i> About</h3>
  {{#each about}}
  <p>{{ this }}</p>
  {{/each}}

  <h3><i class="icon-cog"></i> Skills</h3>
  <ul class="skills">
    {{#each skills}}
    <li>{{ this.name }} <span>{{ this.duration }}</span></li>
    {{/each}}
  </ul>

  <h3><i class="icon-language_black_24dp"></i> Languages</h3>
  <ul class="languages">
        {{#each languages}}
        <li>{{ this.name }} <span>{{ this.level }}</span></li>
        {{/each}}
  </ul>

  <h3 class="other-skills"><i class="icon-cog-alt"></i> Other Skills</h3>
    <div class="otherSkills">
        {{#each otherSkills}}
        <span>{{ this }}</span>
        {{/each}}
    </div>

    <h3 class="interests"><i class="icon-favorite_border_black_24dp"></i> Interests</h3>
    <ul class="interests">
        {{#each interests}}
        <li>{{ this }}</li>
        {{/each}}
    </ul>

    <h3><i class="icon-kayaking_black_24dp"></i> Hobby</h3>
    <div class="hobby">
        {{#each hobbies}}
        <p>{{ this }}</p>
        {{/each}}
    </div>

    <div class="qrcode">
        <img src="{{qrcode}}" alt="qrcode" class="qrcode" />
    </div>
</div>

</body>
</html>